<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Contacto</title>
    <!-- Agrega la referencia a Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
       <h2 class="mb-4">Encuesta Agenda Regulatoria 24-06-2024</h2>

        <form action="" >

            <div class="row">                            
                <div class="form-group col-3">
                    <label for="nombre">Nombre completo:</label>
                    <input type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre" required>
                </div>
                <div class="form-group col-3">
                    <label for="telefono">Número telefónico:</label>
                    <input type="tel" class="form-control" id="telefono" placeholder="Ingrese su número telefónico" required>
                </div>                               
            </div> 
                          

            <div class="form-group">
                <label for="opcion">¿Sabes que es una regulación ?</label>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="p1" value="r1" id="" checked>
                    <label class="form-check-label" for="f1p1r1">Si</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="p1" value="r2" id="">
                    <label class="form-check-label" for="f1p1r2">No</label>
                </div>
            </div>




            <div class="form-group">
                <label for="opcion">¿Sabes que es la agenda Regulatoria?</label>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="p2" value="" id="f1p2r1" checked>
                    <label class="form-check-label" for="f1p2r1">Si</label>                   
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="p2" value="" id="f1p2r2">
                    <label class="form-check-label" for="f1p2r2">No</label>
                </div>
            </div>




            <div class="form-group">
                <label for="opcion">¿Que es para ustedes la consulta Pública?</label>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="p3" value="" id="f1p3r1">
                    <label class="form-check-label" for="f1p3r1">Si</label>                   
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="p3" value="" id="f1p3r2">
                    <label class="form-check-label" for="f1p3r2">No</label>
                </div>
            </div>




            <div class="form-group">
                <label for="opcion">¿Sabias que puedes participar en la consulta pública dando tu opinión a las personas de regulación?</label>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="p4" value="" id="f1p4r1">
                    <label class="form-check-label" for="f1p4r1">Si</label>                   
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="p4" value="" id="f1p4r2">
                    <label class="form-check-label" for="f1p4r2">No</label>
                </div>
            </div>


            

            <div class="form-group">
                <label for="opcion">¿Consideras que tu opinión a las regulaciones pueda resolver algunas de las problemáticas en nuestro municipio?</label>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="p5" value="" id="f1p5r1">
                    <label class="form-check-label" for="f1p5r1">Si</label>                   
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="p5" value="" id="f1p5r2">
                    <label class="form-check-label" for="f1p5r2">No</label>
                </div>
            </div>



            --------------------------------------------------------------------------------------------------------



            <div class="form-group">
                <label for="opcion">¿Sabes que es la política Pública?</label>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="p6" value="" id="check_1_si">
                    <label class="form-check-label" for="check_1_si">Si</label>                   
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="p6" value="" id="check_1_no">
                    <label class="form-check-label" for="check_1_si">No</label>
                </div>
            </div>


            <div class="form-group">
                <label for="opcion">¿Conoces que es Mejora Regulatoria?</label>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="p7" value="" id="check_1_si">
                    <label class="form-check-label" for="check_1_si">Si</label>                   
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="p7" value="" id="check_1_no">
                    <label class="form-check-label" for="check_1_si">No</label>
                </div>
            </div>



            <div class="form-group">
                <label for="opcion">¿Quien es un sujeto obligado?</label>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="p8" value="" id="check_1_si">
                    <label class="form-check-label" for="check_1_si">La unidad de mejora regulatoria</label>                   
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="p8" value="" id="check_1_no">
                    <label class="form-check-label" for="check_1_si">Población en General</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="p8" value="" id="check_1_no">
                    <label class="form-check-label" for="check_1_si">Responsable de las dependencias municipales</label>
                </div>                
            </div>


            <div class="row">
                <div class="form-group col-8">                                      
                    <label for="opcion">¿Que es para usted una propuesta regulatoria?</label>
                    <input type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre" required>
                </div>                        
            </div>




            <div class="form-group">
                <label for="opcion">¿Para usted, debería ser evaluado una Regulación?</label>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="p7" value="" id="check_1_si">
                    <label class="form-check-label" for="check_1_si">Si</label>                   
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="p7" value="" id="check_1_no">
                    <label class="form-check-label" for="check_1_si">No</label>
                </div>
            </div>








            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>

    <!-- Agrega la referencia a Bootstrap JS (opcional si no necesitas funcionalidades de Bootstrap JS) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
</body>
</html>
